header {
  height: 100vh;
  padding-top: 3rem;
  overflow: hidden;
 
  
}
.header__container {
  text-align: center;
  height: 100%;
  position: relative;
  
}

/* ====================CTA===================================== */

.cta {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
/* ===============Social media links================================== */
.Header__socials::before {
  content: "";
  width: 35px;
  height: 0.1rem;
  background: var(--color-primary);
}
.Header__socials {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  position: relative;
  left: 0;
  bottom: 4rem;
}
.Header__socials::after {
  content: "";
  width: 35px;
  height: 0.1rem;
  background: var(--color-primary);
}

/* =================img(Bill) */
.Bill {
  background: radial-gradient(var(--color-primary), transparent);
  /* background: var(--color-primary); */
  width: 150px;
  height: 200px;
  position: relative;
  left: calc(50% - 12.5rem);
  margin-top: 3rem;
  border-radius: 5%;
  overflow: hidden;
  /* z-index:-1; */
}
.blink {
  animation: blinker 0.1s step-start infinite;
  color: red;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

p{
  color: red;
  font-weight: bolder;
  font-size: 20px;
}
.img-bill {
  border-radius: 50%;
  /* margin-top: 1.5rem; */
}




/* -=-=-=-=-=-=-=-=-=-=-=-=-media queries medium devices-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
@media screen and(max-width: 1024px) {
  header {
    height: 65vh;
  }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-media queries small devices-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
@media screen and(max-width: 500px) {
  header {
    height: 100vh;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
}
